name: jester-env
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.4
  - numpy
  - pandas
  - scikit-learn
  - opencv
  - matplotlib
  - pyyaml
  - tqdm
  - jupyterlab
  - ipykernel
  - pillow
  - pip
  - pip:
      []